.App {
  text-align: center;
  background-color: #67AAF9;
  min-height: 100vh;
}

.App-header {
  background-color: #A53860;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Architects Daughter', cursive;
  font-size: calc(30px + 5vmin);
  color: blue;
}
